# .github/workflows/metrics.yml
name: Language Stats Only
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  language-stats:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      
      - name: Generate language stats
        uses: lowlighter/metrics@v3  
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          
          base: ""
          plugin_languages: yes
          plugin_languages_ignored: ""
          plugin_languages_sections: bar
          plugin_languages_layout: compact
          
          filename: stats/languages.svg