name: GitHub Metrics
on:
  schedule:
    - cron: "0 0 * * *"  # 每天UTC 0点（北京时间早上8点）自动运行
  workflow_dispatch:     # 允许手动触发
  push:
    branches:
      - main
      - master

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          
          # 生成的语言统计图片
          plugin_languages: yes
          plugin_languages_ignored: html, css, tex, dockerfile, makefile  # 忽略这些语言
          plugin_languages_details: bytes-size  # 按代码量统计
          plugin_languages_sections: most-used  # 显示方式：列表
          plugin_languages_limit: 10            # 显示前10种语言
          plugin_languages_threshold: 0%        # 显示所有语言（包括占比小的）
          
          # 输出文件名
          filename: metrics.languages.svg